@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        color:rgb(157, 157, 26);
        background-color: black
        
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
    }
    .tags{

        background-color: #ad84ec;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: aliceblue;
        font-family: 12px;
    }

    .tags :last-child {
        margin-right: 0;
    }
    .tags:nth-child(2) {
        background-color: rgb(41, 177, 132);
    }
    .tags:nth-child(3) {
        background-color: rgb(15, 138, 149);
    }

    .tags:nth-child(4) {
    background-color: rgb(185, 148, 68);
}
}
